<div class="forgot-password-container">
    <h2 class="title">Restablecer contraseña</h2>
    <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <input
          type="email"
          formControlName="email"
          class="form-control"
          placeholder="Correo electrónico"
          required
        />
      </div>
  
      <button type="submit" class="btn btn-primary btn-block">
        Enviar enlace
      </button>
    </form>
  
    <div *ngIf="message" class="alert alert-success mt-3">
      {{ message }}
    </div>
    <div *ngIf="error" class="alert alert-danger mt-3">
      {{ error }}
    </div>
  </div>
  