.page-content {
    height: calc(100vh - 60px); /* Ajusta según tu header */
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    padding-bottom: 90px; /* Aumenta el espacio inferior según el alto del botón */
}
.forgot-password-container {
    padding: 30px 20px;
    margin-top: 80px;
    background-color: #0e123d; /* Azul oscuro */
    color: #ffffff;
    border-radius: 12px;
    max-width: 360px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  }
  
  .forgot-password-container .title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-control {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
  }
  
  .btn-primary {
    background-color: #f70192;
    border: none;
    padding: 12px;
    border-radius: 8px;
    width: 100%;
    font-weight: bold;
    color: white;
  }
  
  .btn-primary:hover {
    background-color: #c60078;
  }
  
  .alert {
    padding: 10px;
    border-radius: 5px;
    text-align: center;
  }
  
  .alert-success {
    background-color: #2ecc71;
    color: white;
  }
  
  .alert-danger {
    background-color: #e74c3c;
    color: white;
  }
  