
<div class="page-content space-top p-b50">
  <div class="container"> 
    <div class="chat-box-area"> 
      
<div *ngFor="let msg of messages"
     [ngClass]="{'chat-content': true, 'user': msg.sender === currentUserId}">
  <div class="message-item">
    <div class="bubble">
      {{ msg.text }}
    </div>    
    <div class="message-time">
      {{ msg.created | date:'HH:mm' }}
    </div>    
  </div>
</div>


      <div #scrollBottom></div>

    </div>
  </div> 
</div>

<footer class="chat-input-footer">
  <form [formGroup]="form" (ngSubmit)="send()" class="chat-form">
    <input
      type="text"
      placeholder="Escribe un mensaje"
      formControlName="message">

    <button type="submit">
      <i class="icon feather icon-send"></i>
    </button>
  </form>
</footer>
