
.map-wrapper, .map-container {
  width: 100%;
  height: 100vh; /* o height: calc(100vh - 60px) si tienes header fijo */
  position: relative;
}
.map-container {
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}
/* styles.css o styles.scss global, o en el propio componente */
@keyframes bounceAvatar {
  0%, 100% { transform: translateY(0) scale(1);}
  50% { transform: translateY(-8px) scale(1.08);}
}
.animated-avatar {
  animation: bounceAvatar 1.5s infinite cubic-bezier(.41,.47,.49,1.4);
}


.animated-avatar-hover {
  transition: transform 0.25s cubic-bezier(.41,.47,.49,1.4);
}
.animated-avatar-hover:hover {
  transform: scale(1.12) translateY(-6px);
}

