<!-- Page Content Start -->
<div class="page-content space-top p-b40">
    <div class="container">
        <div class="detail-area" *ngIf="global.selectedPartner">
            <div class="dz-media-card style-2">
                <div class="dz-media profile-picture">
                    <img *ngIf="global.selectedPartner.avatar"
                            [src]="global.selectedPartner.avatar"
                            alt="Foto de perfil"
                            class="profile-avatar-rect">

                </div>
                  
                <div class="dz-content">
                    <div class="left-content">
                        <h4 class="title">{{global.selectedPartner.venueName}}</h4>
                        <p class="mb-0"><i class="icon feather icon-map-pin"></i> {{global.selectedPartner.address}}</p>
                        <p class="mb-0"><i class="icon feather icon-phone"></i> {{global.selectedPartner.phone}}</p>

                    </div>
                    <a  class="dz-icon"><i class="flaticon flaticon-star-1"></i></a>
                </div>
            </div>
            <div class="detail-bottom-area">
                <div class="about">
                    <h6 class="title">Nuestro lugar</h6>
                    <p class="para-text"><i class="fa fa-home"></i> {{global.selectedPartner.description}}</p>		
                    <p class="para-text"><i class="fa fa-users"></i> {{global.selectedPartner.capacity}}</p>				
                    <p class="para-text"><i class="fa fa-map-marker"></i> {{global.selectedPartner.lat}}  {{global.selectedPartner.lnt}}</p>

                </div>
                <div class="intrests mb-3">
                    <h6 class="title">Servicios</h6>
                    <ul class="dz-tag-list">
                        <li *ngFor="let service of global.selectedPartner.services">
                          <div class="dz-tag">
                            <i class="icon feather icon-check-circle"></i>
                            <span><i class="fa fa-check"></i> {{service}}</span>
                          </div>
                        </li>
                      </ul>
                </div>
                <div class="languages mb-3">
                    <h6 class="title">Horario</h6>
                    <ul class="dz-tag-list">
                        <li> 
                            <div class="dz-tag">
                                <span><i class="fa fa-clock"></i> {{global.selectedPartner.openingHours}} a.m /p.m</span>
                            </div>
                        </li>
                        
                    </ul>
                </div>
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title">Galeria</h5>
                        </div>
                        <div class="card-body">
                            <div class="dz-lightgallery row g-2" id="lightgallery-3">
                              <ng-container *ngFor="let url of global.selectedPartner.files">
                                <a class="col-4" [href]="url" target="_blank">
                                  <img [src]="url" alt="Imagen del local">
                                </a>
                              </ng-container>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>