<div class="page-content p-t100 p-b50">
    <div class="container">
        <!-- Nav tabs -->
        <div class="default-tab style-2">
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link" data-bs-toggle="tab" href="wishlist.html#home1" aria-selected="false" role="tab" tabindex="-1">12 Likes</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" data-bs-toggle="tab" href="wishlist.html#profile1" aria-selected="true" role="tab">Top Picks</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade" id="home1" role="tabpanel">
                    <div class="row g-2">
                        <div class="col-6">
                            <div class="dz-media-card style-4">
                                <a (click)="global.setRoute('detail-profile')">
                                    <div class="dz-media">
                                        <img src="../assets/images/w3tinder/liked/pic1.png" alt="">
                                    </div>
                                    <div class="dz-content">
                                        <div class="left-content">
                                            <h6 class="title">Chelsea, 25</h6>	
                                            <span class="about">Harward University</span>
                                        </div>
                                        <div class="dz-icon ms-auto me-0"><i class="flaticon flaticon-star-1"></i></div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="dz-media-card style-4">
                                <a href="profile-detail.html">
                                    <div class="dz-media">
                                        <img src="../assets/images/w3tinder/liked/pic2.png" alt="">
                                    </div>
                                    <div class="dz-content">
                                        <div class="left-content">
                                            <h6 class="title">Abby, 27</h6>	
                                            <span class="about">Chapman University</span>
                                        </div>
                                        <div class="dz-icon ms-auto me-0"><i class="flaticon flaticon-star-1"></i></div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="dz-media-card style-4">
                                <a href="profile-detail.html">
                                    <div class="dz-media">
                                        <img src="../assets/images/w3tinder/liked/pic3.png" alt="">
                                    </div>
                                    <div class="dz-content">
                                        <div class="left-content">
                                            <h6 class="title">Javelle, 23</h6>	
                                            <span class="about">Harward University</span>
                                        </div>
                                        <div class="dz-icon ms-auto me-0"><i class="flaticon flaticon-star-1"></i></div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="dz-media-card style-4">
                                <a href="profile-detail.html">
                                    <div class="dz-media">
                                        <img src="../assets/images/w3tinder/liked/pic4.png" alt="">
                                    </div>
                                    <div class="dz-content">
                                        <div class="left-content">
                                            <h6 class="title">Veronica, 25</h6>	
                                            <span class="about">Harward University</span>
                                        </div>
                                        <div class="dz-icon ms-auto me-0"><i class="flaticon flaticon-star-1"></i></div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="dz-media-card style-4">
                                <a href="profile-detail.html">
                                    <div class="dz-media">
                                        <img src="../assets/images/w3tinder/liked/pic5.png" alt="">
                                    </div>
                                    <div class="dz-content">
                                        <div class="left-content">
                                            <h6 class="title">Richard, 22</h6>	
                                            <span class="about">Harward University</span>
                                        </div>
                                        <div class="dz-icon ms-auto me-0"><i class="flaticon flaticon-star-1"></i></div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="dz-media-card style-4">
                                <a href="profile-detail.html">
                                    <div class="dz-media">
                                        <img src="../assets/images/w3tinder/liked/pic6.png" alt="">
                                    </div>
                                    <div class="dz-content">
                                        <div class="left-content">
                                            <h6 class="title">Miami, 23</h6>	
                                            <span class="about">Harward University</span>
                                        </div>
                                        <div class="dz-icon ms-auto me-0"><i class="flaticon flaticon-star-1"></i></div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="dz-media-card style-4">
                                <a href="profile-detail.html">
                                    <div class="dz-media">
                                        <img src="../assets/images/w3tinder/liked/pic4.png" alt="">
                                    </div>
                                    <div class="dz-content">
                                        <div class="left-content">
                                            <h6 class="title">Christon, 21</h6>	
                                            <span class="about">Harward University</span>
                                        </div>
                                        <div class="dz-icon ms-auto me-0"><i class="flaticon flaticon-star-1"></i></div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="dz-media-card style-4">
                                <a href="profile-detail.html">
                                    <div class="dz-media">
                                        <img src="../assets/images/w3tinder/liked/pic2.png" alt="">
                                    </div>
                                    <div class="dz-content">
                                        <div class="left-content">
                                            <h6 class="title">Richard, 25</h6>	
                                            <span class="about">Harward University</span>
                                        </div>
                                        <div class="dz-icon ms-auto me-0"><i class="flaticon flaticon-star-1"></i></div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="dz-media-card style-4">
                                <a href="profile-detail.html">
                                    <div class="dz-media">
                                        <img src="../assets/images/w3tinder/liked/pic3.png" alt="">
                                    </div>
                                    <div class="dz-content">
                                        <div class="left-content">
                                            <h6 class="title">Veronica, 25</h6>	
                                            <span class="about">Harward University</span>
                                        </div>
                                        <div class="dz-icon ms-auto me-0"><i class="flaticon flaticon-star-1"></i></div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="dz-media-card style-4">
                                <a href="profile-detail.html">
                                    <div class="dz-media">
                                        <img src="../assets/images/w3tinder/liked/pic1.png" alt="">
                                    </div>
                                    <div class="dz-content">
                                        <div class="left-content">
                                            <h6 class="title">Richard, 22</h6>	
                                            <span class="about">Harward University</span>
                                        </div>
                                        <div class="dz-icon ms-auto me-0"><i class="flaticon flaticon-star-1"></i></div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade active show" id="profile1" role="tabpanel">
                    <div class="title-bar">
                        <h6 class="title">Recently Active</h6>
                    </div>
                    <div class="swiper-btn-center-lr">
                        <div class="swiper spot-swiper1 mb-3">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="dz-media-card style-4">
                                        <a href="profile-detail.html">
                                            <div class="dz-media">
                                                <img src="../assets/images/w3tinder/liked/pic1.png" alt="">
                                            </div>
                                            <div class="dz-content">
                                                <div class="left-content">
                                                    <h6 class="title">Richard, 22</h6>	
                                                    <span class="active-status">Recently Active</span>
                                                </div>
                                                <div class="dz-icon ms-auto me-0"><i class="flaticon flaticon-star-1"></i></div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="dz-media-card style-4">
                                        <a href="profile-detail.html">
                                            <div class="dz-media">
                                                <img src="../assets/images/w3tinder/liked/pic2.png" alt="">
                                            </div>
                                            <div class="dz-content">
                                                <div class="left-content">
                                                    <h6 class="title">Abby, 27</h6>	
                                                    <span class="active-status">Recently Active</span>
                                                </div>
                                                <div class="dz-icon ms-auto me-0"><i class="flaticon flaticon-star-1"></i></div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="dz-media-card style-4">
                                        <a href="profile-detail.html">
                                            <div class="dz-media">
                                                <img src="../assets/images/w3tinder/liked/pic3.png" alt="">
                                            </div>
                                            <div class="dz-content">
                                                <div class="left-content">
                                                    <h6 class="title">Javelle, 23</h6>	
                                                    <span class="active-status">Recently Active</span>
                                                </div>
                                                <div class="dz-icon ms-auto me-0"><i class="flaticon flaticon-star-1"></i></div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="title-bar">
                            <h6 class="title">Common Passion</h6>
                        </div>

                        <div class="swiper spot-swiper1 mb-3">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="dz-media-card style-4">
                                        <a href="profile-detail.html">
                                            <div class="dz-media">
                                                <img src="../assets/images/w3tinder/liked/pic4.png" alt="">
                                            </div>
                                            <div class="dz-content">
                                                <div class="left-content">
                                                    <h6 class="title">Kethy, 25</h6>	
                                                    <span class="badge">photpgraphy</span>
                                                </div>
                                                <div class="dz-icon ms-auto me-0"><i class="flaticon flaticon-star-1"></i></div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="dz-media-card style-4">
                                        <a href="profile-detail.html">
                                            <div class="dz-media">
                                                <img src="../assets/images/w3tinder/liked/pic5.png" alt="">
                                            </div>
                                            <div class="dz-content">
                                                <div class="left-content">
                                                    <h6 class="title">Lucy, 22</h6>	
                                                    <span class="badge">Instagram</span>
                                                </div>
                                                <div class="dz-icon ms-auto me-0"><i class="flaticon flaticon-star-1"></i></div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="dz-media-card style-4">
                                        <a href="profile-detail.html">
                                            <div class="dz-media">
                                                <img src="../assets/images/w3tinder/liked/pic6.png" alt="">
                                            </div>
                                            <div class="dz-content">
                                                <div class="left-content">
                                                    <h6 class="title">Charlse, 24</h6>	
                                                    <span class="badge">Dancing</span>
                                                </div>
                                                <div class="dz-icon ms-auto me-0"><i class="flaticon flaticon-star-1"></i></div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="title-bar">
                            <h6 class="title">Recommended</h6>
                        </div>

                        <div class="swiper spot-swiper1 mb-3">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="dz-media-card style-4">
                                        <a href="profile-detail.html">
                                            <div class="dz-media">
                                                <img src="../assets/images/w3tinder/liked/pic2.png" alt="">
                                            </div>
                                            <div class="dz-content">
                                                <div class="left-content">
                                                    <h6 class="title">Alina, 24</h6>	
                                                    <span class="active-status">Recently Active</span>
                                                </div>
                                                <div class="dz-icon ms-auto me-0"><i class="flaticon flaticon-star-1"></i></div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="dz-media-card style-4">
                                        <a href="profile-detail.html">
                                            <div class="dz-media">
                                                <img src="../assets/images/w3tinder/liked/pic1.png" alt="">
                                            </div>
                                            <div class="dz-content">
                                                <div class="left-content">
                                                    <h6 class="title">Broke, 26</h6>	
                                                    <span class="active-status">Recently Active</span>
                                                </div>
                                                <div class="dz-icon ms-auto me-0"><i class="flaticon flaticon-star-1"></i></div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="dz-media-card style-4">
                                        <a href="profile-detail.html">
                                            <div class="dz-media">
                                                <img src="../assets/images/w3tinder/liked/pic4.png" alt="">
                                            </div>
                                            <div class="dz-content">
                                                <div class="left-content">
                                                    <h6 class="title">lisa, 23</h6>	
                                                    <span class="active-status">Recently Active</span>
                                                </div>
                                                <div class="dz-icon ms-auto me-0"><i class="flaticon flaticon-star-1"></i></div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>								
</div>